.modal {
    position: fixed;
    left: 1fr;
    top: 1fr;
    width: 30%;
    height: 30%;
}
    .modal::backdrop {
        position: fixed;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }
.button {
    font-size:40pt;
}
a {
    font-size: 40pt;
}
